body{
  background-color: black;
  

}
h1{
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 50px;
  padding: 7px 0 7px 0 7px;
  text-align: center;
  background-color: brown;
}
h2{
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 20px;
  padding: 7px 0 7px 0 7px;
  text-align: center;
  background-color: darkgreen;
}
p{
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 15px;
  padding: 7px 0 7px 0 7px;
  text-align: center;
  background-color: gray;
}
h3{
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 10px;
  height: ;
  margin: ;
  padding: 7px 0 7px 0 7px;
  text-align: center;
}
li{
  color: black;
  text-align: center;
  background-color: firebrick;
  padding: 10px 5px 10px 5px;
  margin: 10px 5px 10px 5px;
  border-radius: 50%;
}
a{
  color: white;
  background-color: bisque;
}
a:link    { color:  green;  }
a:visited { color: green; }
a:hover   { color: green; }
a:active  { color: green; }